* {
  font-family: "Alexandria", sans-serif;
}

.form-control:focus,
.form-select:focus,
.form-check-input:focus {
  border-color: #000;
  box-shadow: none;
}
.form-control,
.form-select {
  height: 42px;
}

body.modal-open {
  overflow: hidden !important;
}

.dropdown-item:disabled {
  cursor: not-allowed;
  pointer-events: auto !important;
}